.player {
    display: flex;
    align-items: center;
    background-color: #f98c30;
    width: 250px;
    margin-bottom:10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
        font-size: 24px;
        margin-left: 16px;
        margin-right:16px;
        box-sizing: border-box;
        width: 140px;
        text-align: left;
        text-overflow:ellipsis;
        overflow:hidden;
    }

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        padding:5px;
    }
}
.player-active{
    background-color:rgb(223, 5, 5);
    transform: scaleX(1.07);
    transform-origin: bottom right;
    transition: all 125ms ease-in-out;
}