.start-screen {
    position: relative;
    display: flex;
    justify-content: center;


    img {
        height: 80vh;
        width: 100vw;
        max-width: 100%;
        object-fit: contain;
        object-position: top;

    }
}

.start-sign {
    position: absolute;
    top: 75vh;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 50vw;
        min-width: 330px;
        max-width: 560px;
        height: auto;

        &:hover {
            cursor: pointer;
            filter: brightness(1.2)
        }
    }

    span {
        position: absolute;
        cursor: pointer;
        font-size: 52px;
    }

    @media (max-width:520px) {
        top: 50vh;
        transform: translateY(-50%);
    }

}