.start-screen{
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/img/wood.jpg'), #564946;
    background-blend-mode:overlay ;
    img{
        height: 100vh;
        max-width:100%;
        object-fit: contain;
        // object-position: 90%;
    }
}

.start-sign{
    position: absolute;
    bottom:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width:38vw;
        min-width:330px;
        height:auto;
        &:hover{
            cursor: pointer;
            filter:brightness(1.2)
        }
    }
    span{
        position: absolute;
        cursor: pointer;
        font-size:52px;
    }
}