<app-player-section class="player-section" [game]="game"></app-player-section>

<div class="table">
    <div class="card-circle">
        <div *ngFor="let card of game.stack;let i = index;" (click)="takeCard(i)" class="card"
            [ngClass]="{'distribute-card':distribute, 'taking-card':game.currentFace == card.face,'card-taken':game.isTaken[i]}"
            [style.--animation-delay]="i * 50 + 'ms'" [style.--orgDegrees]="card.orgDegrees+ 'deg'"
            [style.--level]="game.playedIndices.indexOf(i)" [style.--degrees]="card.degrees+'deg'"
            [style.--interDegrees]="card.interDegrees+'deg'" [style.--XOffset]="card.XOffset+'px'"
            [style.--YOffset]="card.YOffset+'px'">
            <div class="card-back">
                <img src="assets/img/cards/card_cover_red.png">
            </div>
            <div class="card-front">
                <img src="assets/img/cards/{{ card.face }}.png">
            </div>
        </div>
    </div>

    <div class="pin-bottom">
        <button mat-fab color="basic" (click)="reset()" matTooltip="start a new game">
            <mat-icon>refresh</mat-icon>
        </button>
        <app-action-text [card]="game.currentFace" [players]="game.players"> </app-action-text>
        <button mat-fab color="basic" (click)="openDialog()" matTooltip="add a player">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div>Avatar Icons created by <a href="https://www.iconfinder.com/firststyles">First Styles</a> </div>

    <a href="https://www.freevector.com/playing-cards-vector">FreeVector.com</a>

</div>