.player-section {
    position: absolute;
    top: 40px;
    right: 0;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 540px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: overlay;
}

.card-circle {
    position: relative;
}

.card {
    position: absolute;
    left: 50vh;
    top: 37.5vh;
    height: 20vh;
    width: calc(20vh / 726 * 500);
    transform: rotate(var(--orgDegrees)) translateY(-32.5vh);
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
}

.card-back,
.card-front {
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.15);

    img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
    }
}

.card-back {
    &:hover {
        filter: brightness(0.7);
    }
}

.card-front {
    transform: rotateX(180deg);
}

.distribute-card {
    opacity: 0;
    animation-name: distributeCards;
    animation-timing-function: linear;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-delay: var(--animation-delay);
}


@keyframes distributeCards {
    from {
        opacity: 1;
        left: 50vh;
        top: 37.5vh;
        transform: none;
    }

    to {
        opacity: 1;
        left: 50vh;
        top: 37.5vh;
        transform: rotate(var(--orgDegrees)) translateY(-32.5vh);
    }
}

.taking-card {
    animation-name: takeCardAnimation;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.48, 0.05, 0.35, 0.93);
    animation-fill-mode: forwards;
}

@keyframes takeCardAnimation {
    0% {
        transform: rotate(var(--orgDegrees)) translateY(-32.5vh);
    }

    20% {
        transform: rotate(var(--orgDegrees)) translateY(-45vh);
    }

    25% {
        z-index: 100;
        transform: rotate(var(--orgDegrees)) translateY(-45vh) rotateX(-120deg) scale(1.2);
    }

    30% {
        z-index: 100;
        transform: rotate(var(--orgDegrees)) translateY(-45vh) rotateX(-180deg) scale(1.2);
    }

    100% {
        z-index: var(--level);
        transform: rotate(var(--degrees)) translateX(var(--XOffset)) translateY(var(--YOffset)) rotateX(-180deg) scale(1.0);
    }
}

.card-taken {
    z-index: var(--level);
    transform: rotate(var(--degrees)) translateX(var(--XOffset)) translateY(var(--YOffset)) rotateX(-180deg);
}


.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 80px;
    right: 80px;
    display: flex;
    align-items: center;
    gap: 16px;
}