<app-player *ngFor="let player of game.players;let i=index" [ngStyle]="{'top.px':100 + (110 * i)}" [name]="player"
    class="player-position">
</app-player>

<div class="table">
    <div class="card-circle">
        <img *ngFor="let c of [0,1,2,3];let i = index;" [ngStyle]="{'right.px':i*5}"
            src="/assets/img/cards/card_cover.png" alt="">

        <!-- <img *ngFor="let c of setOfCards;let i = index;" [ngStyle]="{'left.px':i*0,'top.px':i*0,'transform':'rotate('+i*6.9+'deg)' }"
            src="/assets/img/cards/card_cover.png" alt=""> -->

        <!-- card stack -->
        <img (click)="takeCard()" class="top-card" style="right:20px" src="/assets/img/cards/card_cover.png" alt="">
        <!-- played cards -->
        <img *ngFor="let card of game.playedCards" class="played-card" src="/assets/img/cards/{{ card}}.png" alt="">
        <!-- card animation -->
        <img *ngIf="takeCardAnimation" class="take-card" style="right:20px"
            src="/assets/img/cards/{{ currentCard }}.png" alt="">
    </div>


</div>
<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
</button>
<div>Avatar Icons created by <a href="https://www.iconfinder.com/firststyles">First Styles</a> </div>