.table {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow-y: hidden;
    background-image: url('../../assets/img/wood.jpg');
    // display:flex;
    // flex-direction: column;
    // justify-content: flex-end;
}

.player-position {
    position: absolute;
    top: 40px;
    right: 0;
    text-align: center;
}

.btn-add {
    // position: absolute;
    // bottom:32px;
    // right: 32px;
    background-color:#f98c30;
    ;
}

.card-circle {
    position: relative;
    // justify-self: flex-start;
}

.card {
    position: absolute;
    left: 50vh;
    top: 37.5vh;
    height: 20vh;
    width: auto;
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform-origin: 50% 50% ;
}

.card-back,
.card-front {
    position: absolute;
    backface-visibility: hidden;
    height: 100%;

    img {
        height: 100%;
        object-fit: contain;
    }
}

.card-back {
    &:hover {
        filter: brightness(0.7);
    }
}

.card-front {
    transform: rotateX(180deg);
}

.pin-bottom{
    position: absolute;
    bottom:32px;
    left:100px;
    right:100px;
}