<h1 mat-dialog-title>
    Change the appearance of the player
</h1>
<form novalidate #form="ngForm">

    <mat-form-field class="form-group">
        <input matInput type="text" class="form-control" name="playerName" [(ngModel)]="player.playerName" required
            id="">
    </mat-form-field>

    <div class="avatar-radio">
        <label *ngFor="let avatar of avatars;let i=index;">
            <input type="radio" name="avatar" [(ngModel)]="player.avatar" [value]="avatar">
            <img [class.checked]="player.avatar==avatar" src="assets/img/profile-pics/{{ avatar }}">
        </label>
    </div>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close color="warn" [mat-dialog-close]="'DELETE'">Delete Player</button>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [disabled]="!form.valid" [mat-dialog-close]="form.value"> Save</button>
    </div>