<div class="dialog">
    <h1 mat-dialog-title>Add new player</h1>

    <mat-dialog-content [formGroup]="form">
        <p>Please enter the name of a player</p>

        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="playerName">
        </mat-form-field>

        <p>Please choose an avatar</p>

        <div class="avatar-radio">
            <label *ngFor="let avatar of avatars;let i=index;">
                <input type="radio" name="avatar" [value]="avatar" formControlName="avatar">
                <img [class.checked]="form.value.avatar==avatar" src="assets/img/profile-pics/{{ avatar }}">
            </label>
        </div>

    </mat-dialog-content>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>No Thanks</button>
        <button mat-button [disabled]="form.value.playerName.length==0||form.value.avatar==''"
            [mat-dialog-close]="form.value">Ok</button>
    </div>
</div>