
    <h1 mat-dialog-title>Add new player</h1>

    <mat-dialog-content  [formGroup]="form" >
        <p>Please enter the name of a player</p>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="playerName" required="">
        </mat-form-field>

        <p>Please choose an avatar</p>
        <!-- <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="selectedAvatar">
            <mat-option *ngFor="let avatar of avatars" [value]="avatar">
                <img src="assets/img/profile-pics/{{ avatar }}">
            </mat-option>
        </mat-select>
    </mat-form-field> -->

        <mat-button-toggle-group formControlName="selectedAvatar" aria-label="Select Avatar">

            <mat-button-toggle class="avatar-btn" *ngFor="let avatar of avatars" value="{{ avatar }}">
                <img src="assets/img/profile-pics/{{ avatar }}">
            </mat-button-toggle>

        </mat-button-toggle-group>

    </mat-dialog-content>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>No Thanks</button>
        <button mat-button [disabled]="form.value.playerName.length==0||form.value.selectedAvatar==''" [mat-dialog-close]="form.value">Ok</button>
    </div>
