* {
    margin: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: #bcb8b8;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #564946;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.background {
    background-image: url('assets/img/wood.jpg');
    background-color: #564946;
    background-blend-mode: overlay;
    background-repeat: repeat;

    width: 100vw;
    max-width: 100%;
    height: 100vh;
    border: 1px transparent solid;
    box-sizing: border-box;
}

.content {
    margin: 5vh;
    padding: 32px;
    background-color: #564946be;
    color: white;
    height: 90vh;
    box-sizing: border-box;
    overflow-y: auto;

    a {
        color: #bababa;
    }
}